<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title th:text="${title}+'-电影推酷网'">Insert title here</title>
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/css/cartoon.css?v=1.0" />
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload=function(){
            var error=[[${error}]]; 
            if(error!=null){
                alert(error);
            }
        }
        /*]]>*/
    </script>
</head>
<body class="container">
    <div class="row">
        <div th:include="common/head::#h"></div>
    </div>

    <div class="row">
        <div th:include="common/menu::#m"></div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div th:include="${mainPage}::${mainPageKey}"></div>
        </div>

        <div class="col-md-3">
            <div class="data_list">
                <div class="data_list_title">
                    <img src="/static/images/dynamic_icon.png">
                    最新漫画
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="cartoonLatestTen:${application.cartoonLatestTenList}">
                            <span><a target="_blank"  th:title="${cartoonLatestTen.title}" th:text="${cartoonLatestTen.name}"></a></span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="data_list">
                <div class="data_list_title">
                    <img src="/static/images/hot_icon.png">
                    热门漫画
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="cartoonHotTen:${application.cartoonHotTenList}">
                            <span><a target="_blank" th:title="${cartoonHotTen.title}" th:text="${cartoonHotTen.name}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div th:include="common/foot::#f"></div>
    </div>
</body>
</html>